form {
  width: 90%;
  max-width: 300px;
  background-color: #e0bd7d;
  border-radius: 8px;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  color: #1e1e1f;
  margin-bottom: 26px;
}

textarea {
  background-color: #f9fbfc;
  border: 2px, solid #202329;
  border-radius: 8px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #1e1e1f;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100%-25px);
  resize: none;
}

textarea::placeholder {
  color: #a5a5a5;
  font-family: "Montserrat";
  font-weight: 400;
}

textarea:focus {
  outline-color: #5f3d01;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #fafafa;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border: none;
  font-family: "Montserrat";
  border-radius: 8px;
}

.TodoForm-button-add {
  background-color: #996434;
  box-shadow: 0px 5px 25px #5f3d01;
}

.TodoForm-button-cancel {
  background: #e0bd7d;
  box-shadow: 0px 5px 25px #5f3d01;
}
