.TodoCounter {
  font-size: 48px;
  text-align: center;
  margin: 0;
  padding: 48px;
}
.TodoCounter--loading {
  opacity: 30%;
}

@media screen and (max-width: 600px) {
  .TodoCounter {
    font-size: 40px;
  }
}